.inventory {
  align-content: flex-start;
  background-image: url('/assets/fantasygui/fantasy_gui_png/bg_04.png');
  background-repeat: repeat;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}
