$icon-size: 20px;

.stats-bar {
  font-family:'Skranji';

  &__column {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25%;
  }

  &__icon {
    height: $icon-size;
    margin: 0 .5em;
    width: $icon-size;
  }
}